<html>
<title>UniGrab_ClaimedOrder</title>
{% load static %}
<link rel="shortcut icon" href="icon.ico">
<head>
    <meta charset="utf-8">
</head>
<body>
     <h2>Claimed Order</h2>
    <a href="/">Back to home</a>
    <table border=1>
        <thead>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Phone Number</th>
            <th>Order Content</th>
            <th>Shop Address</th>
            <th>Delivery Address</th>
            <th>Delivery Fee</th>
            <th>Action</th>
        </thead>
        {% for cust in records %}
        <tr>
            <td> {{ cust.0 }} </td>
            <td> {{ cust.1 }} </td>
            <td> {{ cust.2 }} </td>
            <td> {{ cust.3 }} </td>
            <td> {{ cust.4 }} </td>
            <td> {{ cust.5 }} </td>
            <td> {{ cust.6 }} </td>
            <td>
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="orderId" value="{{cust.0}}"/>
                <button type="submit" name="action" value="complete">Complete Order</button> 
                <button type="submit" name="action" value="cancel">Cancel Order</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
