<html>
<title>UniGrab_MyOrder</title>
{% load static %}
<link rel="shortcut icon" href="{% static 'icon.ico'%}"/>
<head>
    <meta charset="utf-8">
</head>
<body>
     <h2>My Order</h2>
    <a href="/">Back to home</a>
    <table border=1>
        <thead>
            <th>Order ID</th>
            <th>Order Content</th>
            <th>Shop Address</th>
            <th>Delivery Fee</th>
            <th>Order Status</th>
            <th>Action</th>
        </thead>
        {% for cust in records %}
        <tr>
            <td> {{ cust.0 }} </td>
            <td> {{ cust.3 }} </td>
            <td> {{ cust.4 }} </td>
            <td> {{ cust.6 }} </td>
            <td> {{ cust.7 }} </td>
            <td>
                <a href="View/{{cust.0}}"><button>View Details</button></a>
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{cust.0}}"/>
                <button type="submit" name="action" value="cancel">Cancel</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
