<html>
<title>UniGrab_view</title>
{% load static %}
<link rel="shortcut icon" href="icon.ico">
<body>
    <h2>Details for {{cust.0}}</h2>
    <a href="./myOrder">Back to list</a>
    <br/><br/>
    <a href="/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>Order ID</th>
            <td>:</td>
            <td> {{ cust.0 }} </td>
        </tr>
        <tr>
            <th>User ID</th>
            <td>:</td>
            <td> {{ cust.1 }} </td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>:</td>
            <td> {{ cust.2 }} </td>
        </tr>
        <tr>
            <th>Order Content</th>
            <td>:</td>
            <td> {{ cust.3 }} </td>
        </tr>
        <tr>
            <th>Shop Address</th>
            <td>:</td>
            <td> {{ cust.4 }} </td>
        </tr>
        <tr>
            <th>Delivery Address</th>
            <td>:</td>
            <td> {{ cust.5 }} </td>
        </tr>
        <tr>
            <th>Delivery Fee</th>
            <td>:</td>
            <td> {{ cust.6 }} </td>
        </tr>
       <!-- {%if status == 'claimed' or status == 'completed'%}
        <tr>
            <th>DeliveryMan Name</th>
            <td>:</td>
            <td> {{ cust.5 }} </td>
        </tr>
        <tr>
            <th>DeliveryMan Phone Number</th>
            <td>:</td>
            <td> {{ cust.6 }} </td>
        </tr>
        {%endif%}-->
        <tr>
            <th>Order Status</th>
            <td>:</td>
            <td> {{ cust.7 }} </td>
        </tr>
    </table>
    <a href="editOrder/{{cust.0}}"><button>Edit Order</button></a>
</body>
</html>
